*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: cursive;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  min-height: 100vh;
  color: black;
  background-image: url("https://images.wallpapersden.com/image/download/cool-red-mountains-4k_bG1mamyUmZqaraWkpJRpZWVlrWdnamU.jpg");

}

.content {
  width: 50%;
  background-color: #ffffff;
  padding: 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4); 
  text-align: center;
  border-radius: 15px;
}


.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid red;
  margin: 20px;
}

.light .content {
  background-color: #fff;
  color: #333;
}

.dark .content {
  background-color: #333;
  color: #fff;
}


.themeBtn{
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  /* padding: 1px; */
  color: white;
  background: black;
  border: 1px solid white;
  cursor: pointer;
}

.noOfQuestions{
  text-align: end;
  margin: 20px;
}

.optionBtns{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 30px 20px;
  padding: 30px;
}

#optionBtn{ 
  text-align: center;
  align-items: center;
  border-radius: 30px;
  border: 1px solid crimson;
  font-size: 1rem;
  padding: 20px;
  width: 100%;
  font-size: 1.1rem;
  color: black;
  background-color: white;
  cursor: pointer;
}


.light #optionBtn:hover {
  border: 3px solid black;
  color: red;
  font-weight: 600;
}

.dark #optionBtn{
  background-color: #333;
  color: white;
}

.dark #optionBtn:hover {
  border: 2px solid white;
  color: red;
  font-weight: 600;

}

.footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  /* margin: 10px; */
}

.highlight{
  padding: 10px;
  background: crimson;
  border: 1px solid crimson;
  font-size: 1rem;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}

.highlight:hover {
  color: red;
  background-color: white;
  border: 1px solid red;
}

.highlighted-question {
  color: crimson;
  font-weight: 100;
}

.skip{
  padding: 10px;
  background: white;
  border: 1px solid crimson;
  color: crimson;
  font-size: 1rem;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}

.skip:hover{
  border: 1px solid white;
  background-color: crimson;
  color: white;
}

.restart{
  padding: 10px;
  background: crimson;
  border: 1px solid crimson;
  font-size: 1rem;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}